PyQt5
pyqt5-plugins
PyQt5-sip
pyqt5-tools
PyQt5Designer
pyqtdeploy
PyQtWebEngine
QScintilla
qtwidgets
pyrebase
pycryptodome>=3.4.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.20 # not directly required, pinned by Snyk to avoid a vulnerability
